<h1><%= @admin.user.first_name %> <%= @admin.user.last_name %></h1>
<p><strong>User Type:</strong> <%= @admin.user.userable_type %></p>
<p><strong>Birthdate:</strong> <%= @admin.user.birthdate %></p>
<p><strong>Salary:</strong> <%= @admin.salary %></p>
<p><strong>Edu:</strong> <%= @admin.edu %></p>
<p><strong>Email:</strong> <%= @admin.user.email %></p>
</ul>
