<% if has_role?("Student") || has_role?("Instructor") %>
    <h1>You don't have the authorization to access this page...</h1>
<% end %>
<% if has_role?("Admin") %>
<h1>Create New Admin</h1>

<%= form_for @admin do |f|%>
    <% if @admin.errors.any? %>
        <div id="error_explanation">
            <h3><%= pluralize(@admin.errors.count, "error") %> prohibited this post from being saved:</h3>

            <ul>
            <% @admin.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <%= fields_for :user, @admin.user do |p| %>
        <div class="wrapper">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <%= p.text_field :first_name, placeholder: "Enter First Name", class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <%= p.text_field :last_name, placeholder: "Enter Last Name", class: "form-control" %>
            </div>
        </div>
        <div class="wrapper">
            <div class="form-group">
                <label for="birthdate">Birthdate</label>
                <%= date_field(:user, :birthdate, html_options = {class: "form-control"}) %>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <%= p.text_field :email, placeholder: "Enter Email", class: "form-control" %>
            </div>
        </div>
        <div class="wrapper">
            <div class="form-group">
                <label for="Photo">Photo URL</label>
                <%= p.select(:photo_url, [['Admin', 'https://www.shareicon.net/data/256x256/2016/09/01/822747_user_512x512.png'], ['Instructor', 'https://www.shareicon.net/data/256x256/2016/09/01/822761_user_512x512.png'], ['Student', 'https://www.shareicon.net/data/256x256/2016/09/01/822751_user_512x512.png']], {}, { :class => 'form-control' }) %>
            </div>
            <div class="form-group">
                <label for="Password">Temp Password</label>
                <%= p.text_field :password, placeholder: "Enter Temp Password", class: "form-control" %>
            </div>
        </div>
    <% end %>
    <div class="wrapper">
        <div class="form-group">
            <label for="Salary">Salary</label>
            <%= f.number_field :salary, placeholder: "Enter Salary", class: "form-control" %>
        </div>
        <div class="form-group">
            <label for="Edu">Education</label>
            <%= f.select(:edu, ['High School', 'Bachelors', 'Masters', 'PhD'], {}, { :class => 'form-control' }) %>
        </div>
    </div>
        <%= f.button :Submit, class: "btn btn-primary"%>
<% end %>
<% end %>