<% @students.each do |stu| %>
    <tr id="student-<%= stu.id %>">
        <td><%= stu.user.first_name %></td>
        <td><%= stu.user.last_name %></td>
        <td><%= stu.user.birthdate %></td>
        <td><%= stu.user.userable_type %></td>
        <td><%= stu.user.email %></td>
        <td><%= stu.background %></td>
        <td><%= link_to 'Show', student_path(stu) %></td>
        <td><%= link_to 'Edit', edit_student_path(stu) %></td>
        <td><%= link_to 'Destroy', student_path(stu),
              method: :delete, remote:true,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>