<h1>Create New Student</h1>

<%= form_for @student do |f|%>
    <%= fields_for :user, @student.user do |p| %>
        <div class="wrapper">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <%= p.text_field :first_name, placeholder: "Enter First Name", class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <%= p.text_field :last_name, placeholder: "Enter Last Name", class: "form-control" %>
            </div>
        </div>
        <div class="wrapper">
            <div class="form-group">
                <label for="birthdate">Birthdate</label>
                <%= date_field(:user, :birthdate, html_options = {class: "form-control"}) %>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <%= p.text_field :email, placeholder: "Enter Email", class: "form-control" %>
            </div>
        </div>
        <div class="wrapper">
            <div class="form-group">
                <label for="Photo">Photo URL</label>
                <%= p.text_field :photo_url, placeholder: "Enter Photo URL", class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="Password">Temp Password</label>
                <%= p.text_field :password, placeholder: "Enter Temp Password", class: "form-control" %>
            </div>
        </div>
    <% end %>
    <div class="wrapper">
        <div class="form-group">
            <label for="background">Background</label>
            <%= f.text_field :background, placeholder: "Enter Background", class: "form-control" %>
        </div>
        <div class="form-group">
            <label for="payment">Payment</label>
            <%= f.select(:payment, ['Installment Plan', 'Income Share', 'Complete'], {}, { :class => 'form-control' }) %>
        </div>
    </div>
    <%= f.button :Submit, class: "btn btn-primary" %>
<% end %>