<div class="card-body">
    <h1 class="card-title"><%= @instructor.user.first_name %> <%= @instructor.user.last_name %></h1>
    <p class="card-text"><strong>User Type:</strong> <%= @instructor.user.userable_type %></p>
    <p class="card-text"><strong>Birthdate:</strong> <%= @instructor.user.birthdate %></p>
    <p class="card-text"><strong>Salary:</strong> $<%= @instructor.salary %></p>
    <p class="card-text"><strong>Edu:</strong> <%= @instructor.edu %></p>
    <p class="card-text"><strong>Email:</strong> <%= @instructor.user.email %></p>
</div>