<div class="card" style="width: 35.2rem;">
    <div class="card-img-wrapper"> 
        <img class="card-img-top" src="<%= @instructor.user.photo_url %>" alt="Instructor Avatar">
    </div>
    <%= render "single_instructor" %>
</div>
<br>
<table style="min-width: 35.2rem;">
    <tr>
        <th>Cohorts</th>
        <th colspan="3" class="center-col">Options</th>
    </tr>
    <% @instructor.user.enrollments.each do |e| %>
    <tr id="enrollment-<%= e.id %>">
            <td><%= e.cohort.name %></td>
            <td><%= link_to 'View', cohort_path(e.cohort.id) %></td>
            <td><%= link_to 'Edit', edit_cohort_enrollment_path(e.cohort.id, e.id) %></td>
            <td><%= link_to 'Destroy', cohort_enrollment_path(e.cohort.id, e.id),
            method: :delete, remote:true,
            data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>