<div class="card" style="width: 35.2rem;">
    <div class="card-img-wrapper"> 
        <img class="card-img-top" src="<%= @instructor.user.photo_url %>" alt="Instructor Avatar">
    </div>
    <%= render "single_instructor" %>
</div>
<br>
<h2><%= @instructor.user.first_name %>'s Enrollments</h2>
<table id="datatable" data-turbolinks="false" class="display mini-table">
    <thead>
        <tr>
            <th>Cohorts</th>
            <th class="center-col">Options</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <% @instructor.user.enrollments.each do |e| %>
    <tbody>
        <tr id="enrollment-<%= e.id %>">
                <td><%= e.cohort.name %></td>
                <td><%= link_to 'View', cohort_path(e.cohort.id) %></td>
                <% if has_role?("Admin") %>
                <td><%= link_to 'Edit', edit_cohort_enrollment_path(e.cohort.id, e.id) %></td>
                <td><%= link_to 'Destroy', cohort_enrollment_path(e.cohort.id, e.id),
                method: :delete, remote:true,
                data: { confirm: 'Are you sure?' } %></td>
                <% end %>
        </tr>
    </tbody>
    <% end %>
</table>