<h1>Edit Enrollment</h1>
<br>
<h4><strong>Name:</strong> <%= @enrollment.user.first_name %> <%= @enrollment.user.last_name %></h4>
 
<%= form_with(model: [@enrollment.cohort, @enrollment], local: true) do |f| %> 
  <div class="form-group">
  <%= collection_select(:enrollment, :cohort_id, Cohort.all, :id, :name, {}, {:class=>'form-control'}) %>
  </div>
  <%= f.button :Submit, class: 'btn btn-primary submit-button' %> 
<% end %>