<h1>Create New Course</h1>
<br>
<%= form_with scope: :course, url: courses_path, local: true do |form| %>
    <div class="form-group">
        <%= form.label :name%><br>
        <%= form.text_field :name, placeholder: "Enter Name", class: "form-control"%>
    </div>
    <div class="form-group">
        <label>Total Hours</label>
        <%= number_field(:course, :total_hours, in: 0..300, step: 10, class: 'form-control') %>
    </div>
    <div class="form-group">
        <label>Description</label>
        <%= form.text_area :description, placeholder: "Enter a Description", class: "form-control" %>
    </div>
    <%= form.button :Submit, class: 'btn btn-primary submit-button' %>
<% end %>