<!DOCTYPE html>
<html>
  <head>
    <title>FilmPlus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    </head>

  <body>
    <div id="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header">
            <div id="logo-wrapper">
              <img src="/assets/film2.png" width="175" height="137">
            </div>
            <h3>Railsdance<br>Film Academy</h3>
        </div>
        <ul class="list-unstyled components">
            <p class="big-list-item">Dashboard</p>
            <% if has_role?("Admin") %>
            <li>
              <a href="#courseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle big-list-item">Courses</a>
              <ul class="collapse list-unstyled" id="courseSubmenu">
                <li>
                  <a href="/courses">- Full List</a>
                </li>
                <li>
                  <a href="/courses/new">- Add New</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#cohortSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle big-list-item">Cohorts</a>
              <ul class="collapse list-unstyled" id="cohortSubmenu">
                <li>
                  <a href="/cohorts">- Full List</a>
                </li>
                <li>
                  <a href="/cohorts/new">- Add New</a>
                </li>
              </ul>
            </li>
            <% end %>
            <% if has_role?("Student") %>
            <li class="big-list-item">
              <a href="/students/<%= current_user.userable_id %>">My Profile</a>
            </li>
            <li class="big-list-item">
              <a href="/cohorts">Cohorts</a>
            </li>
            <li class="big-list-item">
              <a href="/courses">Courses</a>
            </li>
            <% end %>  
            <li class="big-list-item">
              <a href="/students">Students</a>
            </li>
            <li class="big-list-item">
                <a href="/instructors">Instructors</a>
            </li>
            <% if has_role?("Admin") %>
            <li class="big-list-item">
              <a href="/admins">Admins</a>
            </li>
            <li class="sub-menu big-list-item">Add User</li>
              <ul class="quick-add">
                <li>
                  <a href="/students/new">+ Student</a>
                </li>
                <li>
                  <a href="/instructors/new">+ Instructor</a>
                </li>
                <li>
                  <a href="/admins/new">+ Admin</a>
                </li>
              <% end %>
              </ul>
            </div>
        </ul>
      </nav>
      <div id="content">
        <%= render 'devise/menu/login_items' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  </body>
</html>